.chat__contents--bellow
  .chat__contents--bellow-name
    = message.user.name
  .chat__contents--bellow-time
    = format_posted_time(message.created_at)
  .chat__contents--bellow-message
    - if message.content.present?
      %p.chat__contents--bellow-message
        = message.content, class: 'lower-message__content'
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
