.right__contents--bellow
  .right__contents--bellow-name
    = message.user.name
  .right__contents--bellow-time
    = format_posted_time(message.created_at)
  .right__contents--bellow-message
    - if message.content.present?
      %p.right__contents--bellow-message__content
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
